# Python
**.ipynb_checkpoints

# Outputs
*.vtk
*.o.
*.hdf5
*.txt
**/output*
**/test*
**/cmake*
*.log
**/data
.DS_store
.idea/

# visual studio
.vs

# cmake
**/CMake*
cmake-build*
Makefile
projectId.sh
**/CMakeFiles
**/.ipynb_checkpoints
**/build
.sass-cache
.env